header {
    background-color: rgb(66, 135, 245);
}
.header-container {
    background-image: url(img/pattern.png);
    background-size: 27%;
}
.logo {
    width: 200px;
    margin-top: 50px;
    margin-left: 150px;
}
main {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 1rem;
}

.titolo {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 3em;
}
.sotto-titolo {
    color: grey;
}
#nome-editore {
    color: rgb(66, 135, 245);
}
.data-sotto-titolo {
    color: grey;
    font-size: 0.8em;
}
.img-desc {
    margin-top: 0;
    font-size: 0.8em;
}
.evidenziato {
    background-color: yellow;
}
ul {
    padding-left: 16px;
}
table {
    border-spacing: 0;
}
thead {
    background-color: rgb(66, 135, 245);
    color: white;
    font-weight: bold;
}
#td1 {
    width: 25%;
}
#td2 {
    width: 25%;
}
#td3 {
    width: 50%;
}
.lblue {
    background-color: lightskyblue;
}
.correlati {
    color: grey;
    font-weight: bold;
    font-size: 1.2em;
}
.correlato-1 {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    background-image: url(img/monitor.jpg);
    background-size: cover;
    height: 200px;
    width: 250px;
    padding: 20px;
}
.correlato-2 {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    background-image: url(img/graph.jpg);
    background-size: cover;
    height: 200px;
    width: 250px;
    padding: 20px;
}